@page "/ActiveStocks"
@rendermode InteractiveServer
@using Blazored.SessionStorage
@using TheMarauderMap.Components.Layout
@using TheMarauderMap.Constants
@using TheMarauderMap.Entities
@using TheMarauderMap.Responses
@using TheMarauderMap.Services
@using TheMarauderMap.Services.Interfaces
@inject IStockRecommendationService stockService
@inject ISessionStorageService sessionStorage;
@inject NavigationManager navigationManager;
@inject IStockTradeService stockTradeService;

<style>
    body {
        background-color: #f8f9fa;
    }

    .stock-table {
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .table-header {
        background-color: #343a40;
        color: white;
        text-align: center;
    }

    .table-row {
        text-align: center;
        background-color: white;
        cursor: pointer;
    }

        .table-row:nth-child(even) {
            background-color: #f1f1f1;
        }

        .table-row:hover {
            background-color: #e9ecef;
        }

    .stock-price {
        font-weight: bold;
        color: #28a745;
    }

    .header-title {
        margin-top: 30px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 36px;
        font-weight: 600;
        color: #495057;
    }

    .refresh-button {
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dropdown-container {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #dee2e6;
        background-color: #f8f9fa;
        border-radius: 8px;
    }
</style>
<h1 class="header-title">Active Stocks</h1>
@if (successMessage != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @successMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container">
    <div class="table-responsive stock-table">
        <table class="table table-hover">
            <thead class="table-header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Trading Symbol</th>
                    <th>Purchase Price</th>
                    <th>Current Price</th>
                    <th>Gain %</th>
                    <th>Purchase Date</th>
                </tr>
            </thead>
            <tbody>
                @if (activeStocks != null && activeStocks.Any())
                {
                    foreach (var stock in activeStocks)
                    {
                        <tr class="table-row" @onclick="(() => ToggleDropdown(stock.Id))">
                            <td>@stock.Id</td>
                            <td>@stock.Name</td>
                            <td>@stock.TradingSymbol</td>
                            <td>@stock.BuyPrice.ToString("C", new System.Globalization.CultureInfo("hi-IN"))</td>
                            <td class="@($"stock-price {(stock.CurrentPrice < stock.BuyPrice ? "text-danger" : "text-success")}")">
                                @stock.CurrentPrice.ToString("C", new System.Globalization.CultureInfo("hi-IN"))
                            </td>
                            <td>@stock.GainPercent.ToString()</td>
                            <td>@stock.BuyTime.Date.ToString("dd-MM-yyyy")</td>
                        </tr>
                        <tr class="@($"collapse {GetDropdownClass(stock.Id)}")">
                            <td colspan="5">
                                <div class="dropdown-container">
                                    <div class="form-group">
                                        <label for="sellPrice">Sell Price</label>
                                        <input type="number" class="form-control" @bind="sellPrice" placeholder="Enter Sell price">
                                    </div>
                                    <button class="btn btn-primary mt-3" @onclick="(() => SellStock(stock))">Sell Stock</button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No stocks available at the moment</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

@code
{
    private List<PurchasedStock> activeStocks = new List<PurchasedStock>();
    private Dictionary<string, bool> stockDropdowns = new Dictionary<string, bool>();
    private double sellPrice;
    private string successMessage;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadStocks();
        }
    }

    private async Task LoadStocks()
    {
        string sessionId = await sessionStorage.GetItemAsync<string>(GlobalConstants.SessionIdKey);
        if (string.IsNullOrEmpty(sessionId))
        {
            navigationManager.NavigateTo("/");
            return;
        }
        activeStocks = await stockTradeService.GetAllActiveStocks(sessionId);
        StateHasChanged();
    }

    private void ToggleDropdown(string stockId)
    {
        if (stockDropdowns.ContainsKey(stockId))
        {
            stockDropdowns[stockId] = !stockDropdowns[stockId];
        }
        else
        {
            stockDropdowns[stockId] = true;
        }
        StateHasChanged();
    }

    private string GetDropdownClass(string stockId)
    {
        if (stockDropdowns.ContainsKey(stockId) && stockDropdowns[stockId])
        {
            return "show";
        }
        return "";
    }

    private async Task SellStock(PurchasedStock purchasedStock)
    {
        if (purchasedStock != null)
        {
            bool result = await this.stockTradeService.SellStock(purchasedStock, sellPrice);
            if (result)
            {
                successMessage = "Stock Sold successfully!";
            }
            else
            {
                successMessage = "Failed to Sell stock. Please try again.";
            }

            sellPrice = 0;

            // Notify the Blazor framework that the state has changed
            StateHasChanged();
        }
    }
}
