@page "/RecommendStocks"
@rendermode InteractiveServer
@using Blazored.SessionStorage
@using TheMarauderMap.Components.Layout
@using TheMarauderMap.Constants
@using TheMarauderMap.Entities
@using TheMarauderMap.Responses
@using TheMarauderMap.Services
@using TheMarauderMap.Services.Interfaces
@inject IStockRecommendationService stockService
@inject ISessionStorageService sessionStorage;
@inject NavigationManager navigationManager;
@inject IStockTradeService stockTradeService;
@inject NavigationManager Navigation

<style>
    body {
        background-color: #f8f9fa;
    }

    .stock-table {
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .table-header {
        background-color: #343a40;
        color: white;
        text-align: center;
    }

    .table-row {
        text-align: center;
        background-color: white;
        cursor: pointer;
    }

        .table-row:nth-child(even) {
            background-color: #f1f1f1;
        }

        .table-row:hover {
            background-color: #e9ecef;
        }

    .stock-price {
        font-weight: bold;
        color: #28a745;
    }

    .header-title {
        margin-top: 30px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 36px;
        font-weight: 600;
        color: #495057;
    }

    .refresh-button {
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dropdown-container {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #dee2e6;
        background-color: #f8f9fa;
        border-radius: 8px;
    }

    .btn-buy {
        margin-top: 10px;
    }

    .btn-blacklist {
        margin-top: 10px;
        margin-left: 15px; /* Adds space between Buy Stock and BlackList buttons */
        background-color: #dc3545; /* Red color */
        color: white;
    }
</style>

<h1 class="header-title">Recommended Stocks</h1>

@if (successMessage != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @successMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container">
    <div class="table-responsive stock-table">
        <table class="table table-hover">
            <thead class="table-header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Trading Symbol</th>
                    <th>Last Price</th>
                    <th>Current Price</th>
                    <th>Price Jump %</th>
                </tr>
            </thead>
            <tbody>
                @if (recommendedStocks != null && recommendedStocks.Any())
                {
                    foreach (var stock in recommendedStocks)
                    {
                        <tr class="table-row" @onclick="(() => ToggleDropdown(stock.Id))">
                            <td>@stock.Id</td>
                            <td>@stock.Name</td>
                            <td>@stock.TradingSymbol</td>
                            <td>@stock.LastPrice.ToString("C", new System.Globalization.CultureInfo("hi-IN"))</td>
                            <td class="@($"stock-price {(stock.CurrentPrice < stock.LastPrice ? "text-danger" : "text-success")}")">
                                @stock.CurrentPrice.ToString("C", new System.Globalization.CultureInfo("hi-IN"))
                            </td>
                            <td>@stock.GainPercent.ToString()</td>
                        </tr>
                        <tr class="@($"collapse {GetDropdownClass(stock.Id)}")">
                            <td colspan="5">
                                <div class="dropdown-container">
                                    <div class="form-group">
                                        <label for="buyPrice">Purchase Price</label>
                                        <input type="number" class="form-control" @bind="buyPrice" placeholder="Enter purchase price">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" class="form-control" @bind="quantity" placeholder="Enter quantity">
                                    </div>
                                    <button class="btn btn-primary btn-buy" @onclick="(() => BuyStock(stock))">Buy Stock</button>
                                    <button class="btn btn-blacklist" @onclick="(() => BlackList(stock))">BlackList Stock</button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No stocks available at the moment</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


@code {
    private List<RecommendedStock> recommendedStocks = new List<RecommendedStock>();
    private Dictionary<string, bool> stockDropdowns = new Dictionary<string, bool>();
    private double buyPrice;
    private int quantity;
    private string successMessage;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadStocks();
        }
    }

    private async Task LoadStocks()
    {
        string sessionId = await sessionStorage.GetItemAsync<string>(GlobalConstants.SessionIdKey);
        if (string.IsNullOrEmpty(sessionId))
        {
            navigationManager.NavigateTo("/");
            return;
        }
        recommendedStocks = await stockService.RecommendStocks(sessionId);
        StateHasChanged();
    }

    private void ToggleDropdown(string stockId)
    {
        if (stockDropdowns.ContainsKey(stockId))
        {
            stockDropdowns[stockId] = !stockDropdowns[stockId];
        }
        else
        {
            stockDropdowns[stockId] = true;
        }
        StateHasChanged();
    }

    private string GetDropdownClass(string stockId)
    {
        if (stockDropdowns.ContainsKey(stockId) && stockDropdowns[stockId])
        {
            return "show";
        }
        return "";
    }

    private async Task BuyStock(RecommendedStock recommendedStock)
    {
        Stock stock = recommendedStock;
        string sessionId = await this.sessionStorage.GetItemAsync<string>(GlobalConstants.SessionIdKey);
        bool result = await this.stockTradeService.PurchaseStock(sessionId, stock, quantity, buyPrice);

        if (result)
        {
            successMessage = "Stock purchased successfully!";
        }
        else
        {
            successMessage = "Failed to purchase stock. Please try again.";
        }

        // Optionally, reset the form fields
        buyPrice = 0;
        quantity = 0;

        // Notify the Blazor framework that the state has changed
        StateHasChanged();
    }

    private async Task BlackList(RecommendedStock recommendedStock)
    {
        Stock stock = recommendedStock;
        string sessionId = await this.sessionStorage.GetItemAsync<string>(GlobalConstants.SessionIdKey);
        await this.stockTradeService.BlackListStock(sessionId, stock);
        StateHasChanged();
        Navigation.NavigateTo("/RecommendStocks", true);
    }
}
